*{
    border: 0;
    margin: 0;
    outline: none;
    padding: 0;
}

@font-face{
    font-family: "DINPro Bold";
    src: url('../fonts/dinpro-bold.eot');
    src: url('../fonts/dinpro-bold.eot?#iefix') format("embedded-opentype"),
         url('../fonts/dinpro-bold.ttf') format("truetype");
}

@font-face{
    font-family: "DINPro Medium";
    src: url('../fonts/dinpro-medium.eot');
    src: url('../fonts/dinpro-medium.eot?#iefix') format("embedded-opentype"),
         url('../fonts/dinpro-medium.ttf') format("truetype");
}

@font-face{
    font-family: "DINPro Light";
    src: url('../fonts/dinpro-light.eot');
    src: url('../fonts/dinpro-light.eot');
    src: url('../fonts/dinpro-light.eot?#iefix') format("embedded-opentype"),
         url('../fonts/dinpro-light.ttf') format("truetype");
}

@font-face{
    font-family: "DINPro Regular";
    src: url('../fonts/dinpro-regular.eot');
    src: url('../fonts/dinpro-regular.eot?#iefix') format("embedded-opentype"),
         url('../fonts/dinpro-regular.ttf') format("truetype");
}

@font-face{
    font-family: "Cuprum Regular";
    src: url('../fonts/Cuprum-Regular.eot');
    src: url('../fonts/Cuprum-Regular.eot?#iefix') format("embedded-opentype"),
         url('../fonts/Cuprum-Regular.ttf') format("truetype");
}

@font-face{
    font-family: "Cuprum Bold";
    src: url('../fonts/Cuprum-Bold.eot');
    src: url('../fonts/Cuprum-Bold.eot?#iefix') format("embedded-opentype"),
         url('../fonts/Cuprum-Bold.ttf') format("truetype");
}

html,body{
    height: 100%;
}

body{
    background: url(../images/css-images/body-bg.jpg) repeat;
    color: #000;
    font: 12px "DINPro Regular", Tahoma;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display:block;
}

textarea{
    resize: vertical;
}

input[type="button"],
input[type="submit"],
button{
    cursor: pointer;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"]{
    -webkit-appearance: none;
    border-radius: 0;
}

input[type="text"],
input[type="password"],
textarea{
    border: 1px solid #d5d5d5;
    font-family: "DINPro Regular";
    font-size: 12px;
    padding: 0 3px;
}

textarea{
    padding: 3px;
    resize: vertical;
}

#page{
    min-height:100%;
    height:auto !important;
    height: 100%;
    margin: 0 auto;
    width: 980px;
}

#main{
    padding-bottom: 200px;
}

#footer{
    height: 170px;
    margin: -170px auto 0;
    width: 840px;
}

.aleft{
    float: left;
}

.aright{
    float: right;
}

.o-shell{
    overflow: hidden;
}

.in-shell,
.infull-shell{
    display: inline-block;
    *display: inline;
    zoom: 1;
}

.infull-shell{
    width: 100%;
}


/* header */

#header{
    background: url(../images/css-images/h-mid-lside.png) no-repeat 60px 11px;
}

.top-nav{
    background: url(../images/css-images/header-nav-bg.png) no-repeat -20px 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    color: #fff;
    font: 14px "DINPro Bold";
    height: 18px;
    line-height: 16px;
    margin-top: -6px; 
    padding: 6px 22px 0;
}

.top-nav a{
    color: #fff;
    font: 14px "DINPro Medium";
    line-height: 16px;
    text-decoration: none;
    text-transform: lowercase;
}

.top-menu li{
    float: left;
    list-style-type: none; 
}

.top-menu li+li{
    margin-left: 30px;
}

#header .order-call{
    background: url(../images/css-images/icons.png) no-repeat 119px 3px;
    margin-left: 90px;
    padding-right: 20px;
}

.header-mid{
    min-height: 195px;
    position: relative;
    padding: 25px 0 16px;
}

#header .logo{
    background: url(../images/css-images/logo.png) no-repeat 50% 0;
    color: black;
    display: block;
    font: 18px "Cuprum Regular";
    left: 50%;
    margin-left: -153px;
    padding-top: 155px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    width: 306px;
}

.logo span{
    display: block;
    font-family: "Cuprum Bold";
}

/* cart */

.mini-cart{
    background: url(../images/css-images/cart.png) no-repeat 0 0;
    float: right;
    height: 159px;
    margin-right: 70px;
    position: relative;
    text-decoration: none;
    width: 273px;
}

.mini-cart.full{
    background: url(../images/css-images/cart-full.png) no-repeat 0 0;
    margin-right: -65px;
}

.mini-cart span,
.mini-cart .currency{
    position: absolute;
    z-index: 10;
}

.mini-cart .count{
    color: #ff4800;
    font-family: "DINPro Bold";
    left: 150px;
    top: 30px;
}

.mini-cart.full .count{
    left: 22px;
}

.mini-cart .total{
    color: #ff0000;
    font: 16px "DINPro Bold";
    left: 197px;
    top: 98px;
}

.mini-cart.full .total{
    left: 69px;
}

.mini-cart .cur{
    color: #8f8f8f;
    position: static;
}

.mini-cart .selectbox.currency{
    left: 212px;
    top: 28px;
    width: 40px;
}

.mini-cart.full .selectbox.currency{
    left: 83px;
}

/**/

/**/


/* index sliders */

.promo-container{
    background: url(../images/css-images/promo-bottom.png) no-repeat 50% 99%;
    margin-left: -14px;
    padding-bottom: 13px; 
    width: 975px;
}

.promo-content{
    border: 1px solid #000;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1px #888888 inset;
    -moz-box-shadow: 0 0 1px #888888 inset;
    box-shadow: 0 0 1px #888888 inset;
    height: 240px;
    padding: 12px 14px;
}

.promo{
    -webkit-box-shadow: 0 0 4px #d9dadb;
    -moz-box-shadow: 0 0 4px #d9dadb;
    box-shadow: 0 0 4px #d9dadb;
    height: 237px;
    position: relative;
}

.promo .items{
    height: 237px;
}

.promo .paginate{
    bottom: 9px;
    left: 13px;
    position: absolute;
}

.promo .paginate a{
    background: url(../images/css-images/icons.png) no-repeat 0 -78px;
    color: #000;
    float: left;
    font-size: 9px;
    height: 14px;
    line-height: 12px;
    margin-right: 3px;
    text-align: center;
    text-decoration: none;
    width: 14px;
}

.promo .paginate .selected{
    background: url(../images/css-images/icons.png) no-repeat -16px -78px;
}

.promo.sl0{
    float: left;
    width: 472px;
}

.promo .item{
    height: 237px;
    float: left;
}

.promo.sl0 .item{
    width: 472px;
}

.promo .item img{
    height: 100%;
    width: 100%;
}

.promo.sl1{
    float: right;
    width: 460px;
}

.promo.sl1 .item{
    width: 460px;
}

/**/


/* main content */

#container{
    background-color: #fff;
    border: 1px solid #000;
    -webkit-border-radius: 46px;
    -moz-border-radius: 46px;
    border-radius: 46px;
    -webkit-box-shadow: 0 0 1px #888888 inset;
    -moz-box-shadow: 0 0 1px #888888 inset;
    box-shadow: 0 0 1px #888888 inset;
    margin: 0 auto;
    position: relative;
    width: 947px;
}

/* main menu */

.menu-wrapper{
    background: url(../images/css-images/bottom-menu-radius.png) 0 0 no-repeat;
    border-top: 1px solid #000;
    height: 47px;
    /*overflow: hidden;*/
    padding-left: 40px;
    position: relative;
}

.menu-nav,
.sl-nav,
.single .preview .jcarousel-prev,
.single .preview .jcarousel-next{
    background: url(../images/css-images/icons.png) no-repeat;
    cursor: pointer;
    height: 17px;
    position: absolute;
    top: 19px;
    width: 17px;
}

.single .preview .jcarousel-prev,
.single .preview .jcarousel-next{
    top: 20px;
}

#brand-menu .menu-nav{
    top: 15px;
}

.menu-nav.prev,
.sl-nav.prev,
.single .preview .jcarousel-prev{
    background-position: 0 -17px;
    
}

.menu-nav.next,
.sl-nav.next,
.single .preview .jcarousel-next{
    background-position: 0 -37px;

}

.menu-wrapper#main-menu{
    background: url(../images/css-images/top-menu-radius.png) 0 0 no-repeat;
    border: 0;
	margin-bottom: 10px;
}

.menu-container{
    background: url(../images/css-images/bottom-menu-radius.png) 100% 100% no-repeat;
    padding-right: 40px;
}

#main-menu .menu-container{
    background: url(../images/css-images/top-menu-radius.png) 100% 100% no-repeat;
}

.menu-content{
    background: url(../images/css-images/menu-bg.png) repeat-x 0 100%;
    /*overflow: hidden;*/
}

.menu{
    height: 47px;
    /*overflow: hidden;*/
}

.menu li{
    height: 47px;
    float: left;
    list-style-type: none;
    position: relative;
    text-align: center;
    width: 172px;
}

.menu li+li{
    background: url(../images/css-images/menu-sep.png) no-repeat left 50%;
}

.menu a{    z-index: 10000;
    background-repeat: no-repeat;
    background-position: 50% 0;
    display: table-cell;
    *display: block;
    height: 47px;
    width: 172px;
    vertical-align: middle;
}

.menu a:hover,
.menu a.active{
    background-position: 50% 100%;
}

.main-submenu{
    display: none;
    padding-top: 10px;
    position: absolute;
    top: 42px;
    width: 947px;
    z-index: 200;
}

.main-submenu .connect{
    background: url(../images/css-images/submenu-connect.png) no-repeat;
    height: 13px;
    position: absolute;
    top: 0;
    width: 117px;
}

.main-submenu .content{
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px 38px;
}

.main-submenu ul{
    display: inline-block;
    *display: inline;
    list-style-type: none;
    text-align: center;
    vertical-align: top;
    width: 170px;
    zoom: 1;
}

.main-submenu ul+ul{
    background: url(../images/css-images/submenu-sep.png) no-repeat 0 50%;

}

.main-submenu li + li{
    margin-top: 12px;
}

.main-submenu li a{
    color: #000;
    font-size: 13px;
    line-height: 13px;
    text-decoration: none;
}

.main-submenu li a:hover,
.main-submenu li a:active{
    color: #f04e23;
}

/**/

/* breadcrumbs */

.breadcrumbs{
    background: url(../images/css-images/bread-bg.png) no-repeat 50% 50%;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    font-family: "DINPro Bold";
    height: 38px;
    line-height: 38px;
    position: relative;
    text-align: center; 
}

.breadcrumbs a{
    color: #000;
    text-decoration: none;
}

.breadcrumbs a:hover{
    text-decoration: underline;
}

.breadcrumbs span{
    color: #969696;
}

.breadcrumbs h1{
    font-size: 20px;
}

.breadcrumbs .sorting{
    color: #000;
    font-size: 14px;
    line-height: normal;
    position: absolute;
    right: 18px;
    top: 0;
}

.breadcrumbs .sorting .title{
    height: 38px;
    line-height: 38px;
}

.breadcrumbs .sorting .sort-toggle{
    background: url(../images/css-images/icons.png) no-repeat 100% -93px;
    color: #f16239;
    display: inline-block;
    *display: inline;
    font-family: "DINPro Medium";
    margin-left: 10px;
    padding-right: 23px;
    text-decoration: none;
    zoom: 1;
}

.breadcrumbs .sorting .sort-list{
    background-color: #fff;
    border: 1px solid #000;
    border-top: 0;
    display: none;
    list-style-type: none;
    padding: 5px 23px 5px 10px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    z-index: 3;
}

.breadcrumbs .sorting .sort-list li+li{
    margin: 5px 0 0;
}

.breadcrumbs .sorting .sort-list a{
    color: #000;
    text-decoration: none;
}

.breadcrumbs .sorting .sort-list a.current{
    color: #f16239;
}

/**/

.headers{
    padding-bottom: 13px;
}

.search-title{
    border-bottom: 1px solid #000;
}

.search-form{
    float: left;
    margin-left: 25px;
    padding: 7px 0 8px;
    width: 197px;
}

.search-form input[type="text"]{
    background-color: #fbfbfb;
    border: 1px solid #a1a1a1;
    height: 15px;
    float: left;
    line-height: 15px;
    padding: 0 5px;
    width: 152px;
    *width: 127px;
}

.search-form input[type="submit"]{
    background: url(../images/css-images/icons.png) 0 -55px no-repeat;
    height: 17px;
    float: left;
    text-indent: -9999px;
    width: 23px;
}

.search-title .aright{
    background: -webkit-gradient(linear, left top, right top, from(#f2f2f2), to(#fff), color-stop(0.7, #fff));  
    background: -moz-linear-gradient(left top, #f2f2f2, #fff 70%);   
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr=#f2f2f2, endColorStr=#FFFFFFFF, GradientType=1);  
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2f2f2, endColorstr=#FFFFFFFF, GradientType=1)"; 
    width: 708px;
}

.filter-container{
    background-color: #fff;
    overflow: hidden;
}

.filter-container form > div,
.filter-container form > span,
.filter-container label,
.filter-container .filter-btn{
    height: 32px;
    line-height: 32px;
}

.filter-container .title,
.filter-container .price-filter,
.filter-container .price-filter .col,
.filter-container .sel-filters{
    float: left;
}

.filter-container .title{
    font-family: "DINPro Bold";
    font-size: 14px;
    line-height: 31px;
    margin-right: 22px;
}

.filter-container .price-filter label{
    color: #414141;
    font-size: 13px;
    margin-right: 6px;
}

.filter-container .price-filter input[type="text"]{
    background-color: #fbfbfb;
    border: 1px solid #a1a1a1;
    width: 52px;
}

.filter-container .price-filter .col{
    margin-right: 11px;
}

.filter-container .price-filter{
    background: url(../images/css-images/filter-divider.png) no-repeat 100% 4px;
    padding-right: 11px;
}

.filter-container select{
    margin-left: 20px;
    width: 105px;
}

.filter-container .filter-btn{
    background: url(../images/css-images/filter-search.png);
    border-left: 1px solid #000;
    color: #fff;
    float: right;
    font-family: "DINPro Bold";
    font-size: 16px;
    text-align: center;
    width: 84px;
}

.search-title h1{
    color: #fa6c00;
    font: 14px "DINPro Bold";
    line-height: 32px;
    padding-left: 12px; 
	 margin: 0;
}

.main-content{
    float: right;
    /*margin-right: 14px;*/
    overflow: hidden;
    width: 708px;
}

/* catalog */

.catalog{
    display: inline-block;
    *display: inline;
    margin-left: 2px;
    width: 705px;
    zoom: 1;
}

.catalog .item{
    border: 1px solid #a1a1a1;
    height: 410px;
    float: left;
    margin: 0 14px 14px 0;
    position: relative;
    width: 218px;
}

.catalog .item:hover{
    border: 1px solid #bfbfbf;
    -webkit-box-shadow: 0 0 8px #a2a2a2;
    -moz-box-shadow: 0 0 8px #a2a2a2;
    box-shadow: 0 0 8px #a2a2a2;
}

.catalog .item .title{
    background-color: #f3f3f3;
    font-size: 16px;
    padding: 4px 8px 4px;
    text-align: center;
}

.catalog .item h3,
.catalog .item .cat-tag{
    height: 20px;
    overflow: hidden;
}

.catalog .item h3{
    font-family: "DINPro Bold";
    height: 21px;
    line-height: 20px;
}

.catalog .item h3 a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
}

.catalog .item:hover h3 a{
    color: #f16332;
}

.catalog .item .thumb{
    display: block;
    height: 200px;
    margin: 8px auto;
    text-align: center;
    width: 200px;
}

.catalog .item .thumb img{
    max-height: 100%;
    max-width: 100%;
}

.catalog .item .price{
    background: url(../images/css-images/price-divider.png) no-repeat 50% 0;
    color: #f04e23;
    font: 16px "DINPro Bold";
    padding: 6px 0 0;
    text-align: center;
}

.catalog .item .price div{
    background: url(../images/css-images/price-divider.png) no-repeat 50% 100%;
    padding: 0 0 8px;
}

.catalog .item .excerpt{
    height: 38px;
    line-height: 14px;
    overflow: hidden;
    padding: 5px 13px 6px;
}

.catalog .item .btn-group a{
    bottom: 0;
    color: #010101;
    font: 14px "DINPro Bold";
    height: 21px;
    padding-top: 36px;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    z-index: 5;
}

.catalog .item .add-to-cart{
    background: url(../images/css-images/cart-btn.png) no-repeat 50% 0;
    left: 0;
    width: 112px;
}

.catalog .item .detail{
    background: url(../images/css-images/desc-btn.png) no-repeat 50% 0;
    right: 0;
    width: 109px;
}

.catalog .item .btn-group .divider{
    background: url(../images/css-images/btn-group-divider.png) no-repeat 50% 50%;
    bottom: 0;
    height: 57px;
    left: 109px;
    position: absolute;
    width: 4px;
    z-index: 10;
}

/**/

/* pagination */

.pagination{
    color: #000;
    font: 12px "DINPro Medium";
    margin: 14px 0 30px;
    text-align: center;
}

.pagination a{
    color: #000;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 0 3px;
    text-decoration: none;
}

.pagination a.active{
    background: url(../images/css-images/icons.png) no-repeat -30px -50px;
    color: #f04e23;
    margin: 0;
    width: 30px;
}

.pagination a:hover{
    color: #f04e23;
}

/**/

/* single */

.single .trade{
    border: 1px solid #a1a1a1;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 13px;
    width: 100%;
}

.single .trade .preview{
    border-right: 1px solid #ebebeb;
    padding: 10px 6px;
    width: 240px;
}

.single .trade .info{
    float: left;
    min-width: 245px;
}

.single .trade .top{
    border-right: 1px solid #f9f9f9;
    font-size: 14px;
    overflow: hidden;
}

.single .trade .info .row+.row{
    background: url(../images/css-images/trade-small-divider.png) no-repeat 50% 0;
}

.single .trade .info span{
    display: inline-block;
    *display: inline;
    padding: 9px 0 7px 20px;
    zoom: 1;
}

.single .trade .name{
    min-width: 110px;
}

.single .trade .info .desc,
.single .trade .price{
    font-family: "DINPro Bold";
}

.single .trade .red{
    color: #f05127;
    padding: 0 !important;
}

.single .trade .price{
    float: right;
    margin: 25px 17px 0 0;
    overflow: hidden;
}

.single .trade .price span{
    clear: both;
    float: right;
}

.single .trade .price .main{
    color: #f04e23;
    font-size: 18px;
}

.single .trade .mid{
    border-bottom: 1px solid #dadada;
}

.single .trade .mid table{
    font-size: 14px;
    margin: 0 0 -2px -2px;
    width: 442px;
}

.single .trade .mid .name{
    background-color: #ececec;
    padding: 19px 28px 19px 20px;
    width: 135px;
}

.single .trade .mid .count{
    background-color: #f3f3f3;
    color: #f05127;
    font-family: "DINPro Bold";
    padding-left: 12px;
}

.single .add-to-cart,
.single .trade .cart-col{
    width: 181px;
}

.single .add-to-cart{
    background: url(../images/css-images/cart-btn-big.png) no-repeat 50% 50%;
    color: #000;
    display: block;
    height: 56px;
    font-family: "DINPro Bold";
    font-size: 14px;
    line-height: 77px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
}

.single .trade .bottom{
    font-size: 13px;
    padding: 8px 15px 15px 20px;
}

.single .trade .notice{
    background: url(../images/css-images/trade-big-divider.png) no-repeat 50% 100%;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.single .trade p+p{
    margin-top: 17px;
}

.single .trade .raiting-wrap{
    font-size: 14px;
}

.single .raiting{
    display: inline-block;
    *display: inline;
    margin: 0 30px 0 10px;
    vertical-align: middle;
    zoom: 1;
}

.single .trade .social{
    display: inline-block;
    *display: inline;
    margin-top: 10px;
    zoom: 1;
}

.single .trade .social .item{
    float: left;
    margin-right: 20px;
}

.tabs-wrap{
    margin-bottom: 12px;
}

.tabs-wrap .ui-tabs-nav{
    overflow: hidden;
}

.tabs-wrap .ui-tabs-nav li{
    float: left;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    margin-right: 2px;
}

.tabs-wrap .ui-tabs-nav li a{
    background: url(../images/css-images/tab-bg.png) repeat 0 0;
    display: block;
    height: 30px;
    color: #000;
    font-family: "DINPro Bold";
    font-size: 14px;
    padding: 0 28px;
    text-decoration: none;
}

.tabs-wrap .ui-tabs-nav li.ui-state-active a{
    background: url(../images/css-images/tab-active-bg.png) repeat 0 0;
}

.tabs-wrap .ui-tabs-panel{
    border: 1px solid #a1a1a1;
    font-size: 13px;
}

.tabs-wrap .ui-tabs-panel .inner{
    overflow: hidden;
    padding: 15px;
}

.tabs-wrap .ui-tabs-panel p+p{
    margin-top: 15px;
}

.tabs-wrap .delivery-section{
    padding-top: 2px;
}

.tabs-wrap .delivery-section+.delivery-section{
    border-top: 1px solid #ddd;
}

.tabs-wrap .delivery-section h3{
    background-color: #ececec;
    font-family: "DINPro Bold";
    font-size: 14px;
    padding: 7px 15px 5px;
}

.tabs-wrap .delivery-section .content{
    padding: 15px;
}

.tabs-wrap .photos-list{
    width: 680px;
}

.tabs-wrap .photos-list a{
    border: 1px solid #ebebeb;
    height: 117px;
    float: left;
    margin: 0 16px 16px 0;
    text-align: center;
    width: 118px;
}

.tabs-wrap .photos-list a img{
    max-height: 100%;
    max-width: 100%;
}

.feedbacks li{
    line-height: 0;
    list-style-type: none;
}

.feedbacks ul li{
    padding-left: 15px;
}

.feedback{
    border-bottom: 1px solid #ddd;
    display: inline-block;
    *display: inline;
    line-height: normal;
    padding-top: 2px;
    width: 100%;
    zoom: 1;
}

.feedbacks ul li .feedback{
    border: 1px solid #ddd;
    border-top: 0;
}

.feedback .header{
    border-collapse: collapse;
    width: 99.9%;
}

.feedback .header td{
    background-color: #f3f3f3;
    color: #969696;
    font-size: 10px;
    font-family: "DINPro Bold";
    line-height: 15px;
    padding: 6px 15px;
    vertical-align: middle;
}

.feedback .header .name{
    background-color: #ececec;
    border-right: 2px solid #fff;
    color: #000;
    font-size: 14px;
}

.feedback .header .date{
    border-right: 2px solid #fff;
    width: 120px;
}

.feedback .content{
    padding: 0 0 12px 15px;
}

.feedback .content .text{
    font-size: 13px;
    padding: 12px 0 10px;
}

.feedback .comment-link{
    color: #f26c3d;
    text-decoration: none;
}

.add-feedback{
    padding-top: 2px;
	position: relative;
}

.add-feedback h3{
    background-color: #ececec;
    font-size: 14px;
    font-family: "DINPro Bold";
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.add-feedback .new-feedback{
    font-size: 12px;
    padding: 15px;
}

.new-feedback .row{
    line-height: 15px;
    overflow: hidden;
}

.new-feedback .row+.row{
    margin-top: 10px;
}

.new-feedback .row .title{
    margin-bottom: 4px;
}

.new-feedback .row .r-title{
    float: left;
    margin-top: 3px;
}

.new-feedback input[type="text"]{
    width: 180px;
    vertical-align: top;
}

.new-feedback .t-captcha{
    margin: 8px 25px 0 0;
}

.new-feedback textarea{
    height: 64px;
    width: 650px;
}

.new-feedback .feed-btn{
    background: url(../images/css-images/tab-active-bg.png) no-repeat 0 0;
    color: #010101;
    font-size: 14px;
    font-family: "DINPro Bold";
    height: 30px;
    line-height: 30px;
    padding: 0 30px;
}

.single-promo{
    border: 1px solid #a1a1a1;
}

.single-promo h2{
    background-color: #ececec;
    height: 30px;
    font-size: 14px;
    font-family: "DINPro Bold";
    line-height: 30px;
    padding: 0 15px;
}

.single-promo+.single-promo{
    margin-top: 12px;
	margin-bottom: 12px;
}

.single-promo .wrap{
    padding: 14px 0;
}

.catalog-slider-wrap{
    position: relative;
}

.catalog-slider{
    height: 226px;
    margin: 0 auto;
    overflow: hidden;
    width: 630px;
}

.catalog-slider-wrap .sl-nav{
    top: 100px;
}

.catalog-slider-wrap .sl-nav.prev{
    left: 5px;
}

.catalog-slider-wrap .sl-nav.next{
    right: 5px;
}

.catalog-slider .item{
    border: 1px solid #ebebeb;
    height: 204px;
    float: left;
    margin: 2px 12px 2px 0;
    padding: 8px;
    width: 130px;
}

.catalog-slider .item:hover{
    box-shadow: 0 0 4px #ddd;
}

.catalog-slider .item .title{
    margin-bottom: 8px;
}

.catalog-slider .item .cat-tag,
.catalog-slider .item h3{
    font-size: 13px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    text-align: center;
}

.catalog-slider .item h3 a{
    color: #000;
    text-decoration: none;
}

.catalog-slider .item:hover h3 a{
    color: #f04e23;
}

.catalog-slider .item .thumb{
    display: table-cell;
    *display: block;
    height: 135px;
    margin-bottom: 5px;
    text-align: center;
    width: 130px;
    vertical-align: middle;
}

.catalog-slider .item .thumb img{
    max-height: 100%;
    max-width: 100%;
}

.catalog-slider .item .price{
    color: #f04e23;
    font-family: "DINPro Bold";
    font-size: 16px;
    text-align: center;
}

/**/

/* cart */

.cart-table{
    border: 1px solid #a1a1a1;
    border-spacing: 0;
    font-family: "DINPro Bold";
    font-size: 14px;
}

.cart-table.cart-header{
    border: 0;
}

.cart-table td{
    background-color: #f3f3f3;
    padding: 15px 0 10px;
    text-align: center;
    vertical-align: middle;
}

.cart-table tr+tr td{
    border-top: 1px solid #a1a1a1;
}

.cart-table td.price{
    color: #f04e23;
    width: 101px;
}

.cart-table.cart-header td{
    color: #000;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    padding: 0;
}

.cart-table td.photo{
    background-color: #fff;
    width: 180px;
}

.cart-table td.photo img{
    max-height: 100px;
    max-width: 140px;
}

.cart-table td.name{
    background-color: #ececec;
    border-right: 2px solid #fff;
    padding: 0 15px;
    text-align: left;
    width: 195px;
}

.cart-table td.numb{
    border-right: 2px solid #fff;
    width: 70px;
}

.cart-table td.amount{
    border-right: 2px solid #fff;
    width: 41px;
}

.cart-table td.remove{
    background-color: #fff;
    width: 70px;
}

.cart-table td.name .cat-tag{
    font-family: "DINPro Regular";
}

.cart-table td.name a{
    color: #000;
    text-decoration: none;
}

.coupone-container{
    border: 1px solid #a1a1a1;
    border-top: 0;
    font-size: 14px;
    overflow: hidden;
    padding: 18px 22px 18px 24px;
}

.coupone-container .message{
    float: left;
    margin-right: 24px;
    width: 220px;
}

.coupone-container .coupone-numb{
    float: left;
    width: 133px;
}

.coupone-container .coupone-numb input[type="text"]{
    border: 1px solid #243850;
    height: 19px;
    float: left;
    line-height: 19px;
    padding: 0 5px;
    width: 87px;
}

.coupone-container .coupone-numb .coupone-ok{
    background: url(../images/css-images/ok-btn.png) no-repeat;
    color: #fff;
    height: 21px;
    float: left;
    font-family: "DINPro Bold";
    line-height: 21px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 29px;
}

.coupone-container .cart-total{
    float: right;
    font-family: "DINPro Bold";
}

.cart-btns-set{
    text-align: center;
}

.cart-btns-set .cart-btn{
    color: #010101;
    display: inline-block;
    *display: inline;
    font-size: 14px;
    font-family: "DINPro Bold";
    height: 28px;
    padding-top: 29px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 185px;
    zoom: 1;
}

.cart-btns-set .go-back{
    background: url(../images/css-images/shopping-back.png) no-repeat;
}

.cart-btns-set .make-order{
    background: url(../images/css-images/make-order.png) no-repeat;
}

/**/

/**/


/* left sidebar */

.left-sidebar{
    float: left;
    width: 212px;
}

.side-item{
    border: 1px solid #a1a1a1;
    border-left: 0;
    margin-bottom: 13px;
}

.side-item h2{
    background-color: #f3f3f3;
    font: 16px "DINPro Bold";
    padding: 15px 0;
    text-align: center;
}

.side-item .choise{
    padding: 2px 0 20px;
}

.side-item .choise .title,
.side-item .choise-title{
    background-color: #f7f7f7;
    color: #f05f2c;
    font-size: 12px;
    margin: 0 0 8px;
    padding: 8px 20px 6px 35px;
}

.side-item .choise-title{
    margin-bottom: 0;
}

.side-item .choise h3 a,
.side-item .choise-title a{
    color: #000;
    font-size: 14px;
    font-family: "DINPro Bold";
    text-decoration: none;
}

.side-item .choise .item{
    display: table-cell;
    max-height: 90px;
    text-align: center;
    width: 210px;
}

.side-item .choise .close,
.cart-table .remove .del{
    background: url(../images/css-images/icons.png) no-repeat -85px -56px;
    display: inline-block;
    height: 15px;
    margin-left: 5px;
    vertical-align: top;
    width: 15px;
}

.cart-table .remove .del{
    margin: 0;
}

.side-item .item .thumb{
    display: inline-block;
    margin-left: 15px;
    max-width: 140px;
}

.side-item .item img{
    max-height: 100%;
    max-width: 100%;
}

.side-item .content{
    font-size: 14px;
    padding-bottom: 10px;
}

.side-item .cat-menu{
    list-style-type: none; 
    padding: 0 24px;
}

.side-item .cat-menu li.top{
    padding: 10px 0 7px;
}

.side-item .cat-menu li.top+li.top{
    background: url(../images/css-images/sidemenu-sep.png) no-repeat 50% 0;
}

.side-item .cat-menu a{
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 14px;
    padding-left: 12px;
    text-decoration: none;
}

.side-item .submenu{
    display: none;
    margin-left: 18px;
}

.side-item .top.active .submenu{
    display: block;
}

.side-item .submenu li{
    background: url(../images/css-images/dash.png) no-repeat 0 9px;
    list-style-type: none;
    margin-top: 10px; 
}


.side-item .cat-menu .active a,
.side-item .cat-menu a:hover{
    color: #f04e23;
}

.side-item .top.active ul a{
    color: #000;
}

.side-item .top.active ul .active a,
.side-item .cat-menu .top.active ul a:hover,
.side-item .cat-menu a:active{
    color: #f04e23;
}

.manufact-list li{
    list-style-type: none; 
    padding: 14px 20px 0 45px;
}

.social-side{
    border: 1px solid #c5c6c8;
    margin: 0 0 12px 12px;
    overflow: hidden;
    width: 198px;
}

.social-side.fb{
    border: 0;
    width: 200px;
}

/**/


/* footer */

.footer-top{
    font-size: 14px;
    margin-bottom: 25px;
}

.footer-nav li{
    height: 30px;
    float: left;
    list-style-type: none;
    padding: 0 17px 0 19px; 
}

.footer-nav li:first-child{
    padding-left: 0;
}

.footer-nav li+li{
    background: url(../images/css-images/f-menu-sep.png) no-repeat left 0;
}

.footer-nav a{
    color: #000;
    text-decoration: none;
}

.footer-nav a:hover{
    text-decoration: underline;
}

.f-contacts{
    font-style: normal;
    margin-top: 5px;
}

.copyright{
    font: 16px "Cuprum Bold";
    text-align: center;
}

#footer .social a{
    background: url(../images/css-images/icons.png) no-repeat;
    height: 50px;
    float: left;
    width: 50px;
}

#footer .social a+a{
    margin-left: 20px;
}

#footer .social .vk{
    background-position: -20px 0;
}

#footer .social .fb{
    background-position: -72px 0;
}

/**/


/* custom checkbox */

.ti-custom-checkbox .icon-checkbox{
    background-image: url(../images/css-images/custom-radio.png);
    background-position: 0 0;
    display: inline-block;
    *display: inline;
    height: 14px;
    float: left;
    margin-top: 3px;
    width: 14px;
    zoom: 1;
}

.ti-custom-checkbox.checked .icon-checkbox{
    background-position: 0 100%;
}

/* .ti-custom-checkbox.checked.disabled .icon-checkbox{
    background-position: 0 -75px;
} */

input[type="checkbox"].ti-hidden,
input[type="radio"].ti-hidden{
    left: -9999px;
    position: absolute;
}

label.ti-custom-checkbox{
    cursor: pointer;
    display: inline-block;
    *display: inline;
    width: 100%;
    zoom: 1;
}

/**/

/* raiting */

.raiting {
    background: url(../images/css-images/raiting.png) 0 0 repeat-x;
    display: inline-block;
    width: 75px;
    height: 13px;
    overflow: hidden;
    position: relative;
}

.raiting div {
    background: url(../images/css-images/raiting.png) 0 -13px repeat-x;
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

.raiting span {
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: url(../images/css-images/raiting.png) 0 -26px repeat-x;
    width: 0;
    cursor: pointer;
}

/**/

.breadcrumbs.black > h1 {
    color: black;
}

.single .trade .mid .count > input ,#cart_f .amount > input{
    background-color: #F3F3F3;
    border: 0 none;
    color: #F05127;
    font-weight: bold;
}
.ui-tabs-panel .inner li {
    margin-left: 15px;
}

.single .trade .price .main > i {
    font-size: 15px;
    text-decoration: line-through;
}

.price-old {
    font-size: 14px;
    font-style: italic;
    text-decoration: line-through;
}
.menu-nav.next {
    right: 25px;
}
.menu-nav.prev {
    left: 25px;
}

.main-content .single {
    margin-right: 15px;
}


.manufact-list a {
    color: black;
}


#back_call {
    position: fixed;
    top: 50%;
 width: 980px;
    z-index: 600;
	display:none;
}

#back_call > div {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 30px 30px 30px 30px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    margin-top:-170px;
 width: 450px;
}

#back_call .pagename {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.f_line.h.clear {
    min-height: 30px;
    position: relative;
}
.f_line.h.clear > input {
    left: 167px;
    position: absolute;
}
.f_line.h.clear > label {
    padding-left: 30px;
    position: relative;
}
.f_line.h.clear.inline > div {
    display: inline-block;
}
.f_line.h.clear > textarea {
    margin-left: 30px;
    resize: none;
    width: 390px;
}
#fedb_call_b {
    background-color: #808080;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    margin: 15px auto;
    padding: 5px;
    text-align: center;
    width: 100px;
	border: 1px solid black;
	cursor: pointer;
}
#close_back_call {
    border-radius: 50% 50% 50% 50%;
    font-size: 14px;
    font-variant: small-caps;
    line-height: 15px;
    position: absolute;
    right: 13px;
    text-align: center;
    text-transform: uppercase;
    width: 15px;
	cursor:pointer;
}
.product-filter a{
    color: #000;
    text-decoration: none;
}

.product-filter a:hover{
    text-decoration: underline;
}

.product-filter span{
    color: #969696;
}

.product-filter h1{
    font-size: 20px;
}

.product-filter .sorting{
    color: #000;
    font-size: 14px;
    line-height: normal;
    position: absolute;
    right: 150px;

}

.product-filter .sorting .title{
    height: 20px;
    line-height: 20px;
}

.product-filter .sorting .sort-toggle{
    background: url(../images/css-images/icons.png) no-repeat 100% -103px;
    color: #f16239;
    display: inline-block;
    *display: inline;
    font-family: "DINPro Medium";
    margin-left: 10px;
    padding-right: 23px;
    text-decoration: none;
    zoom: 1;
}

.product-filter .sorting .sort-list{
    background-color: #fff;
    border: 1px solid #000;
    border-top: 0;
    display: none;
    list-style-type: none;
    padding: 5px 23px 5px 10px;
    position: absolute;
    right: 0;
    text-align: left;
    top: 100%;
    z-index: 3;
}

.product-filter .sorting .sort-list li+li{
    margin: 5px 0 0;
}

.product-filter .sorting .sort-list a{
    color: #000;
    text-decoration: none;
}

.product-filter .sorting .sort-list a.current{
    color: #f16239;
}
.product-filter {
   
margin-right: 15px;
	border-bottom: 1px solid #EEEEEE;
	margin-bottom: 15px;
    font-family: "DINPro Bold";
    height: 24px;
    line-height: 24px;
    position: relative;
    text-align: center; 
}