/*
 * Category Menu Pro v1.1.3
 * for OpenCart 1.5.1 - 1.5.6.4
 *
 * Copyright 2014, iDiY
 * Support: idiy.webmaster@gmail.com
 *
 */

ul.cmpro-accordion,ul.cmpro-accordion ul,ul.cmpro-collapsible,ul.cmpro-collapsible ul,ul.cmpro-flyout,ul.cmpro-flyout ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.cmpro-accordion li,ul.cmpro-collapsible li,ul.cmpro-flyout li {
	position: relative;
	margin: 0;
	padding: 0;
}

ul.cmpro-accordion > li + li,ul.cmpro-collapsible > li + li,ul.cmpro-flyout > li + li {
	border-top: 1px solid rgba(0,0,0,0.065)
}

ul.cmpro-accordion li > div,ul.cmpro-collapsible li > div,ul.cmpro-flyout li > div {
	position: relative;
}

ul.cmpro-accordion li a,ul.cmpro-collapsible li a,ul.cmpro-flyout li a {
	position: relative;
	display: block;
	margin: 0;
	padding: .7em 1.2em;
	outline: none;
	color: #333;
	text-decoration: none;
	line-height: 1.42857143;
}

ul.cmpro-accordion li a.active,ul.cmpro-collapsible li a.active,ul.cmpro-flyout li a.active {
	font-weight: bold;
}

ul.cmpro-accordion li a.tb-item,ul.cmpro-collapsible li a.tb-item {
	padding-right: 2.2em;
}

ul.cmpro-accordion > li:hover > div > a,ul.cmpro-collapsible > li:hover > div > a,ul.cmpro-flyout li:hover > div > a {
	background-color: #EEE;
	color: #333;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.1);
}

ul.cmpro-flyout li a.parent-item:after {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background: transparent url('../image/category_menu/arrow.png') -24px 0 no-repeat;
	content: '';
}

ul.cmpro-flyout.column_right li a.parent-item:after {
	background: none;
}

ul.cmpro-flyout li:hover > div > a.parent-item:after {
	background-position: 0 0;
}

ul.cmpro-accordion li ul,ul.cmpro-collapsible li ul,ul.cmpro-flyout li ul {
	display: none;
}

ul.cmpro-accordion li.active > ul,ul.cmpro-collapsible li.active > ul {
	display: block;
}

ul.cmpro-accordion > li > ul,ul.cmpro-collapsible > li > ul {
	-webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.04);
	-moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.04);
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.04);
}

ul.cmpro-flyout li ul {
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 777;
	padding-left: 2px;
	width: 100%;
	background: rgba(255,255,255,0);
	list-style: none;
}

ul.cmpro-flyout.column_right li ul {
	right: 100%;
	left: auto;
	padding-right: 2px;
	padding-left: 0;
}

ul.cmpro-flyout li li {
	background-color: #EEE;
}

ul.cmpro-flyout li li + li {
	border-top: 1px solid #FFF;
}

ul.cmpro-accordion li li a,ul.cmpro-collapsible li li a {
	margin-top: 1px;
	padding: .6em 1.2em;
	background-color: rgba(0,0,0,0.025);
	color: #555;
}

ul.cmpro-accordion li li a span,ul.cmpro-collapsible li li a span {
	position: relative;
	display: block;
	padding-left: 24px;
}

ul.cmpro-accordion li li a span:before,ul.cmpro-collapsible li li a span:before {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -12px;
	width: 24px;
	height: 24px;
	background: transparent url('../image/category_menu/arrow.png') 0 -24px no-repeat;
	content: '';
}

ul.cmpro-accordion li li a.item-open span:before,ul.cmpro-collapsible li li a.item-open span:before {
	background-position: -24px -24px;
}

ul.cmpro-accordion li li li a,ul.cmpro-collapsible li li li a {
	padding-left: 2.4em;
}

ul.cmpro-accordion li li li li a,ul.cmpro-collapsible li li li li a {
	padding-left: 3.6em;
}

ul.cmpro-accordion li li li li li a,ul.cmpro-collapsible li li li li li a {
	padding-left: 4.8em;
}

ul.cmpro-accordion > li ul > li:hover > div > a,ul.cmpro-collapsible > li ul > li:hover > div > a {
	background-color: rgba(0,0,0,0.05);

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}

ul.cmpro-accordion > li ul > li:hover > div > span.toggle-btn,ul.cmpro-collapsible > li ul > li:hover > div > span.toggle-btn {
	background-color: rgba(0,0,0,0.02);

	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,0.5);
	box-shadow: -1px 0 0 rgba(255,255,255,0.5);
}

ul.cmpro-accordion span.toggle-btn,ul.cmpro-collapsible span.toggle-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 2.2em;
	height: 100%;
	background: transparent url('../image/category_menu/plus-dark.png') center no-repeat;
	content: '';
	text-align: center;
	cursor: pointer;
}

ul.cmpro-accordion > li:hover > div > span.toggle-btn,ul.cmpro-collapsible > li:hover > div > span.toggle-btn {
	background: rgba(0,0,0,0.025) url('../image/category_menu/plus-light.png') center no-repeat;
	
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,0.15);
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,0.15);
	box-shadow: -1px 0 0 rgba(255,255,255,0.15);
}

ul.cmpro-accordion span.toggle-btn.item-open,ul.cmpro-collapsible span.toggle-btn.item-open {
	background-image: url('../image/category_menu/minus-dark.png');
}

ul.cmpro-accordion > li:hover > div > span.toggle-btn.item-open,ul.cmpro-collapsible > li:hover > div > span.toggle-btn.item-open {
	background-image: url('../image/category_menu/minus-light.png');
}

ul.cmpro-accordion span.toggle-btn:before,ul.cmpro-collapsible span.toggle-btn:before {
	background: url('../image/category_menu/minus-light.png') no-repeat -9999px -9999px;
}

ul.cmpro-accordion span.toggle-btn:after,ul.cmpro-collapsible span.toggle-btn:after {
	background: url('../image/category_menu/minus-dark.png') no-repeat -9999px -9999px;
}

ul.cmpro-accordion li.item-image a,ul.cmpro-collapsible li.item-image a,ul.cmpro-flyout li.item-image a {
	padding: 4px;
	text-align: center;
	font-size: 0;
	line-height: 0;
}

ul.cmpro-accordion span.item-icon,ul.cmpro-collapsible span.item-icon,ul.cmpro-flyout span.item-icon {
	margin-right: .5em;
}

ul.cmpro-accordion span.item-icon + span,ul.cmpro-collapsible span.item-icon + span,ul.cmpro-flyout span.item-icon + span {
	vertical-align: middle;
}

ul.cmpro-accordion img,ul.cmpro-collapsible img,ul.cmpro-flyout img {
	max-width: 100%;
	vertical-align: middle;
	overflow: hidden;
}

ul.cmpro-accordion li a,ul.cmpro-collapsible li a,ul.cmpro-flyout li a,ul.cmpro-flyout li a:after {
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-ms-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}